
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3498DB;
}

h1 {
  font-family: Arial;
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  font-family: Arial;
  background-color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}